<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<typeAliases>
<typeAlias type="services.user.User" alias="User" />
<typeAlias type="services.approval.Approval" alias="Approval" />
<typeAlias type="services.orgchart.OrgChart" alias="OrgChart" />
<typeAlias type="services.notice.Notice" alias="Notice" />
<typeAlias type="services.board.Board" alias="Board" />
</typeAliases>


<environments default="development">
	<environment id="development">
		<transactionManager type="JDBC" />
		<dataSource type="POOLED">
			<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
			<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
			<property name="username" value="scott" />
			<property name="password" value="tiger" />
		</dataSource>
	</environment>
</environments>

<mappers>
<mapper resource="User.xml"/>
<mapper resource="Approval.xml" />
<mapper resource="OrgChart.xml" />
<mapper resource="Notice.xml" />
<mapper resource="Board.xml" />
</mappers>
</configuration>
